<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:sec="http://www.springframework.org/schema/security"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd http://www.springframework.org/schema/security https://www.springframework.org/schema/security/spring-security.xsd">

    <sec:http auto-config="true" use-expressions="true" pattern="/h2console/**">
        <sec:headers>
            <sec:frame-options disabled="true"/>
        </sec:headers>
        <sec:csrf disabled="true"/>
        <sec:intercept-url pattern="/h2console/**" access="hasAnyRole('ROLE_ADMIN')"/>
    </sec:http>

    <sec:http auto-config="true" use-expressions="true">

        <sec:intercept-url pattern="/" access="permitAll()"/>
        <sec:intercept-url pattern="/register/**" access="permitAll()"/>
        <sec:intercept-url pattern="/static/**" access="permitAll()" />
        <sec:intercept-url pattern="/uploads/**" access="permitAll()" />

        <sec:intercept-url pattern="/groups" access="hasAnyRole('ROLE_ADMIN', 'ROLE_STUDENT', 'ROLE_TEACHER')" />
        <sec:intercept-url pattern="/groups/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_TEACHER')" />

        <sec:intercept-url pattern="/students" access="hasAnyRole('ROLE_ADMIN', 'ROLE_STUDENT', 'ROLE_TEACHER')" />
        <sec:intercept-url pattern="/students/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_TEACHER')" />

        <sec:intercept-url pattern="/teachers" access="hasAnyRole('ROLE_ADMIN', 'ROLE_STUDENT', 'ROLE_TEACHER')" />
        <sec:intercept-url pattern="/teachers/**" access="hasAnyRole('ROLE_ADMIN')" />

        <sec:intercept-url pattern="/**" access="hasAnyRole('ROLE_ADMIN', 'ROLE_STUDENT')" />


        <!--        <sec:form-login login-page="/login" login-processing-url="/login"
                                username-parameter="username"
                                password-parameter="password"

                                если делать свою форму входа, то нужно делать и свой пост запрос на выход
                />-->
        <sec:logout logout-url="/logout"
                    logout-success-url="/"
                    delete-cookies="true"
                    invalidate-session="true" />
        <sec:remember-me key="rememberMe" remember-me-parameter="remember-me" user-service-ref="customUserDetailsService"/>
    </sec:http>

    <sec:authentication-manager>
<!--        <sec:authentication-provider>
            <sec:user-service>
&lt;!&ndash;                <sec:user name="student" password="{noop}student" authorities="ROLE_USER"/>
                <sec:user name="teacher" password="{noop}teacher" authorities="ROLE_TEACHER"/>&ndash;&gt;
                <sec:user name="admin" password="{noop}admin" authorities="ROLE_ADMIN" />
            </sec:user-service>
        </sec:authentication-provider>
        <sec:authentication-provider user-service-ref="customUserDetailsService" />-->
        <sec:authentication-provider ref="customAuthenticationProvider"/>
    </sec:authentication-manager>

</beans>