/*! HTML5 Boilerplate v7.2.0 | MIT License | https://html5boilerplate.com/ */

/* main.css 2.0.0 | MIT License | https://github.com/h5bp/main.css#readme */
/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
  color: #222;
  font-size: 1em;
  line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
  background: #b3d4fc;
  text-shadow: none;
}

::selection {
  background: #b3d4fc;
  text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
  vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
  border: 0;
  margin: 0;
  padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
  resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */

/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
  display: none !important;
}

/*
* Hide only visually, but have it available for screen readers:
* https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
*
* 1. For long content, line feeds are not interpreted as spaces and small width
*    causes content to wrap 1 word per line:
*    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
*/

.sr-only {
  border: 0;
  clip: rect(0, 0, 0, 0);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute;
  white-space: nowrap;
  width: 1px;
  /* 1 */
}

/*
* Extends the .sr-only class to allow the element
* to be focusable when navigated to via the keyboard:
* https://www.drupal.org/node/897638
*/

.sr-only.focusable:active,
.sr-only.focusable:focus {
  clip: auto;
  height: auto;
  margin: 0;
  overflow: visible;
  position: static;
  white-space: inherit;
  width: auto;
}

/*
* Hide visually and from screen readers, but maintain layout
*/

.invisible {
  visibility: hidden;
}

/*
* Clearfix: contain floats
*
* For modern browsers
* 1. The space content is one way to avoid an Opera bug when the
*    `contenteditable` attribute is included anywhere else in the document.
*    Otherwise it causes space to appear at the top and bottom of elements
*    that receive the `clearfix` class.
* 2. The use of `table` rather than `block` is only necessary if using
*    `:before` to contain the top-margins of child elements.
*/

.clearfix:before,
.clearfix:after {
  content: " ";
  /* 1 */
  display: table;
  /* 2 */
}

.clearfix:after {
  clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
  /* Style adjustments for viewports that meet the condition */
}

@media print,
  (-webkit-min-device-pixel-ratio: 1.25),
  (min-resolution: 1.25dppx),
  (min-resolution: 120dpi) {
  /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
  *,
  *:before,
  *:after {
    background: transparent !important;
    color: #000 !important;
    /* Black prints faster */
    -webkit-box-shadow: none !important;
    box-shadow: none !important;
    text-shadow: none !important;
  }
  a,
  a:visited {
    text-decoration: underline;
  }
  a[href]:after {
    content: " (" attr(href) ")";
  }
  abbr[title]:after {
    content: " (" attr(title) ")";
  }
  /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */
  a[href^="#"]:after,
  a[href^="javascript:"]:after {
    content: "";
  }
  pre {
    white-space: pre-wrap !important;
  }
  pre,
  blockquote {
    border: 1px solid #999;
    page-break-inside: avoid;
  }
  /*
     * Printing Tables:
     * https://web.archive.org/web/20180815150934/http://css-discuss.incutio.com/wiki/Printing_Tables
     */
  thead {
    display: table-header-group;
  }
  tr,
  img {
    page-break-inside: avoid;
  }
  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }
  h2,
  h3 {
    page-break-after: avoid;
  }
}
.centre{
  text-align: center;
}
.food-list {
  float: left;
}
.food-item{
  border: 2px solid gray;
  border-radius: 20px;
  margin: 20px;
  float: left;
  text-align: center;
  padding: 20px;
}
.food-item:last-child{
  float: start;
}
.food-item>p{
  font-weight: bold;
}
.menu{
  width: 250px;
  background: #808080;
}
.menu-item{
  display: flex;
  flex-direction: row;
  justify-content: start;
  align-items: center;
  color: white;
}
.menu-item:hover{
  background: #5E5E5E;
}
.menu-img>img{
  width: 60px;
  height: 60px;
}
.menu-img{
  margin-left: 20px;
}

.menu-text{
  margin-left: 30px;
}

.site{
  width: 800px;
  margin: auto;
  background: lightgray;
}
.site>div{
  margin: 10px;
}
.text-decor{
  padding-left: 50px;
  color: white;
  display: flex;
  align-items: center;
}

.header{
  background: #923158;
  height: 60px;
}
.site-menu{
  background: #6E1237;
  height: 40px;
}
.site>.outer-section{
  display: flex;
  align-self: stretch;
  padding: 0;
}
.outer-section>div{

}
.inner-section{
  flex-direction: row;
  width: 200px;
}
.aside1{
  background: #B65B80;
  height: 80px;
  margin-bottom: 10px;
}
.aside2{
  background: #B65B80;
  height: 120px;
}
.main-content{
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
  padding-top: 28px;
  padding-right: 50px;
  background: #B65B80;
  height: 250px;
  margin-left: 10px;
}

.section1{
  width: 350px;
  height: 80px;
  background: #DB92AF;
  margin-top: 10px;
  margin-bottom: 10px;
}
.section2{
  width: 350px;
  height: 80px;
  background: #DB92AF;
}
.aside3{
  flex-direction: column;
  justify-content: center;
  align-items: center;
  color:white;
  height: 180px;
  padding: 20px 30px 10px 30px;
  background: #B65B80;
  margin-left: 10px;
}
.footer{
  background: #6E1237;
  height: 40px;
}

.main-div{
  background: #2A4F6E;
  padding: 50px;
}
.footer-menu{
  display:flex;
  justify-content: space-around;
}
.menu-column-text{
  display: flex;
  flex-direction: column;
}
.copyright{
  color: white;
  display: flex;
  justify-content: center;
}
.menu-column-text>a{
  color: white;
  text-decoration: unset;
}
.menu-column-text>a:hover{
  color: white;
  text-decoration: underline;
}
.menu-column-images{
  display: flex;
  justify-content: center;
}
.menu-column-images>a{
  height: 48px;
  width: 48px;
  background-size: 48px 48px;
  margin: 10px;
}
.fb{
  background-image: url("../img/footer/fb_gray.png");
}
.inst{
  background-image: url("../img/footer/insta_gray.png");
}
.yt{
  background-image: url("../img/footer/youtube_gray.png");
}
.fb:hover{
  background-image: url("../img/footer/fb.png");
}
.inst:hover{
  background-image: url("../img/footer/insta.png");
}
.yt:hover{
  background-image: url("../img/footer/youtube.png");
}
